# ChiMerge (Ker92)

ChiMerge [Ker92] is a supervised, bottom-up (i.e., merge-based) data discretization method.

It relies on $ \chi^2 $ analysis: Adjacent intervals with the least $ \chi^2 $ values are merged together until the chosen stopping criterion satisfies.

Here we implement a version of ChiMerge that uses the number of maximum interval as the stopping condition.

## Loading Iris Data

In [1]:
import pandas as pd
from collections import Counter
import numpy as np
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [2]:
iris = pd.DataFrame({'F':[1, 3, 7, 8, 9, 11, 23, 37, 39, 45, 46, 59],
                      'K':[1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1]})

In [3]:
iris

     F  K
0    1  1
1    3  2
2    7  1
3    8  1
4    9  1
5   11  2
6   23  2
7   37  1
8   39  2
9   45  1
10  46  1
11  59  1

In [16]:
iris = pd.read_csv('iris.csv')

In [17]:
iris

     sepal_length   sepal_width   petal_length   petal_width          flower
0             5.1           3.5            1.4           0.2     Iris-setosa
1             4.9           3.0            1.4           0.2     Iris-setosa
2             4.7           3.2            1.3           0.2     Iris-setosa
3             4.6           3.1            1.5           0.2     Iris-setosa
4             5.0           3.6            1.4           0.2     Iris-setosa
..            ...           ...            ...           ...             ...
145           6.7           3.0            5.2           2.3  Iris-virginica
146           6.3           2.5            5.0           1.9  Iris-virginica
147           6.5           3.0            5.2           2.0  Iris-virginica
148           6.2           3.4            5.4           2.3  Iris-virginica
149           5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sepal_length   150 non-null    float64
 1    sepal_width   150 non-null    float64
 2    petal_length  150 non-null    float64
 3    petal_width   150 non-null    float64
 4    flower        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## ChiMerge Implementation

In [ ]:
distinct_vals = sorted(set(iris['F']))
distinct_vals

In [ ]:
labels = sorted(set(iris['K']))
labels

In [ ]:
empty_count = {label: 0 for label in labels}
empty_count

In [ ]:
intervals = [[distinct_vals[i], distinct_vals[i]] for i in range(len(distinct_vals))]
intervals

In [ ]:
chi = []

In [ ]:
i = 0
obs0 = iris[iris['F'].between(intervals[i][0], intervals[i][1])]
obs1 = iris[iris['F'].between(intervals[i+1][0], intervals[i+1][1])]

obs0, obs1
total = len(obs0) + len(obs1)

Attr = 'F'
Label = 'K'
data = iris
max_intervals = 6

In [ ]:
print({**empty_count, **Counter(obs0['K'])})
count_0 = np.array([v for i, v in {**empty_count, **Counter(obs0['K'])}.items()])
count_0

In [ ]:
print({**empty_count, **Counter(obs1['K'])}.items())
count_1 = np.array([v for i, v in {**empty_count, **Counter(obs1['K'])}.items()])
count_1

In [ ]:
count_total = count_0 + count_1
count_total

In [ ]:
expected_0 = count_total*sum(count_0)/total
expected_0

In [ ]:
expected_1 = count_total*sum(count_1)/total
expected_1

In [ ]:
chi_ = (count_0 - expected_0)**2/expected_0 + (count_1 - expected_1)**2/expected_1
chi_

In [ ]:
chi_ = np.nan_to_num(chi_)
chi_

In [ ]:
chi.append(sum(chi_))
chi

Ahora el calculo de los chi junto

In [ ]:
distinct_vals = sorted(set(iris['F']))
labels = sorted(set(iris['K']))
empty_count = {label: 0 for label in labels}
intervals = [[distinct_vals[i], distinct_vals[i]] for i in range(len(distinct_vals))]

In [ ]:
chi = []
for i in range(len(intervals)-1):
            # Calculate the Chi2 value
    obs0 = iris[iris['F'].between(intervals[i][0], intervals[i][1])]
    obs1 = iris[iris['F'].between(intervals[i+1][0], intervals[i+1][1])]
    total = len(obs0) + len(obs1)
    count_0 = np.array([v for i, v in {**empty_count, **Counter(obs0['K'])}.items()])
    count_1 = np.array([v for i, v in {**empty_count, **Counter(obs1['K'])}.items()])
    count_total = count_0 + count_1
    expected_0 = count_total*sum(count_0)/total
    expected_1 = count_total*sum(count_1)/total
    chi_ = (count_0 - expected_0)**2/expected_0 + (count_1 - expected_1)**2/expected_1
    chi_ = np.nan_to_num(chi_) # Deal with the zero counts
    chi.append(sum(chi_)) # Finally do the summation for Chi2

In [ ]:
chi

In [ ]:
min_chi = min(chi)
min_chi

In [ ]:
for i, v in enumerate(chi):
    print(i, v)
    if v == min_chi:
        min_chi_index = i # Find the index of the interval to be merged
        break
min_chi_index

Con un umbral de 0.9 con 1 grado de libertad dado que solo hay dos clases de la tabla de distribuciÃ³n Chi Cuadrado se deben unir rangos si chi es menor que 2.7

In [ ]:
new_intervals = []
skip = False
done = False

In [ ]:
for i in range(len(intervals)):
    if skip:
        skip = False
        continue
    if i == min_chi_index and not done:
        t = intervals[i] + intervals[i + 1]
        new_intervals.append([min(t), max(t)])
        skip = True
        done = True
    else:
        new_intervals.append(intervals[i])

In [ ]:
new_intervals

In [ ]:
intervals = new_intervals

In [11]:
def chimerge(data, attr, label, max_intervals):

    distinct_vals = sorted(set(data[attr])) # Sort the distinct values
    labels = sorted(set(data[label])) # Get all possible labels
    empty_count = {l: 0 for l in labels} # A helper function for padding the Counter()
    intervals = [[distinct_vals[i], distinct_vals[i]] for i in range(len(distinct_vals))] # Initialize the intervals for each attribute
    chi_final = []
    while len(intervals) > max_intervals: # While loop
        chi = []
        for i in range(len(intervals)-1):
            # Calculate the Chi2 value
            obs0 = data[data[attr].between(intervals[i][0], intervals[i][1])]
            obs1 = data[data[attr].between(intervals[i+1][0], intervals[i+1][1])]
            total = len(obs0) + len(obs1)
            count_0 = np.array([v for i, v in {**empty_count, **Counter(obs0[label])}.items()])
            count_1 = np.array([v for i, v in {**empty_count, **Counter(obs1[label])}.items()])
            count_total = count_0 + count_1
            expected_0 = count_total*sum(count_0)/total
            expected_1 = count_total*sum(count_1)/total
            chi_ = (count_0 - expected_0)**2/expected_0 + (count_1 - expected_1)**2/expected_1
            chi_ = np.nan_to_num(chi_) # Deal with the zero counts
            chi.append(sum(chi_)) # Finally do the summation for Chi2
        min_chi = min(chi) # Find the minimal Chi2 for current iteration
        for i, v in enumerate(chi):
            if v == min_chi:
                min_chi_index = i # Find the index of the interval to be merged
                break
        new_intervals = [] # Prepare for the merged new data array
        skip = False
        done = False
        for i in range(len(intervals)):
            if skip:
                skip = False
                continue
            if i == min_chi_index and not done: # Merge the intervals
                t = intervals[i] + intervals[i+1]
                new_intervals.append([min(t), max(t)])
                skip = True
                done = True
            else:
                new_intervals.append(intervals[i])
        intervals = new_intervals

        '''
        Nuevo cÃ³digo
        '''

    chi = []
    for i in range(len(intervals)-1):
        # Calculate the Chi2 value
        obs0 = data[data[attr].between(intervals[i][0], intervals[i][1])]
        obs1 = data[data[attr].between(intervals[i+1][0], intervals[i+1][1])]
        total = len(obs0) + len(obs1)
        count_0 = np.array([v for i, v in {**empty_count, **Counter(obs0[label])}.items()])
        count_1 = np.array([v for i, v in {**empty_count, **Counter(obs1[label])}.items()])
        count_total = count_0 + count_1
        expected_0 = count_total*sum(count_0)/total
        expected_1 = count_total*sum(count_1)/total
        chi_ = (count_0 - expected_0)**2/expected_0 + (count_1 - expected_1)**2/expected_1
        chi_ = np.nan_to_num(chi_) # Deal with the zero counts
        chi.append(sum(chi_)) # Finally do the summation for Chi2
    return chi, intervals

    for i in intervals:
        print('[', i[0], ',', i[1], ']', sep='')

In [13]:
iris.columns

Index(['sepal_length', ' sepal_width', ' petal_length', ' petal_width',
       ' flower'],
      dtype='object')

In [18]:
result = {}
for attr in ['sepal_length', ' sepal_width', ' petal_length', ' petal_width']:
    chi, intervals = chimerge(data=iris, attr=attr, label=' flower', max_intervals=3)
    ranges = [element[0] for element in intervals]
    ranges.append(intervals[len(intervals) - 1][1]+ 1)
    iris['rangos_' + attr] = pd.cut(iris[attr], ranges, right = False)
    #iris = iris.drop([attr], axis = 1)
    result[attr] = chi, intervals, ranges

In [19]:
result

{'sepal_length': ([30.905534374922134, 23.135537190082644],
  [[4.3, 5.4], [5.5, 5.7], [5.8, 7.9]],
  [4.3, 5.5, 5.8, 8.9]),
 ' sepal_width': ([20.36734693877551, 24.18974024500907],
  [[2.0, 2.9], [3.0, 3.3], [3.4, 4.4]],
  [2.0, 3.0, 3.4, 5.4]),
 ' petal_length': ([95.0, 74.7070707070707],
  [[1.0, 1.9], [3.0, 4.7], [4.8, 6.9]],
  [1.0, 3.0, 4.8, 7.9]),
 ' petal_width': ([104.0, 77.93880837359099],
  [[0.1, 0.6], [1.0, 1.7], [1.8, 2.5]],
  [0.1, 1.0, 1.8, 3.5])}

In [49]:
len(list(result.values())[0][2])

4

In [23]:
iris['sepal_length'].max()

7.9

In [ ]:
result

In [ ]:
result['F'][2][0]

In [ ]:
ranges = [element[0] for element in intervals]
ranges.append(intervals[len(intervals) - 1][1]+ 1)

In [ ]:
ranges

In [ ]:
iris['rangos_F'] = pd.cut(iris['F'], ranges, right = False)

In [ ]:
iris

In [ ]:
iris = iris.drop(['F'], axis = 1)

In [ ]:
iris.to_csv('discretizado.csv', index = False)

In [ ]:
filename = 'chi_merge.csv'
filename[:-4]

In [ ]:
chi_

In [ ]:
iris['rangos_F'].unique()[0]